// utah_ava_map.css

@import url(Cesium/Widgets/widgets.css);

#mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#mapUsageBox {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 2;
    overflow-y: scroll;
    background-color: black;
    color: white;
    font-family: arial;
}

#cesiumControls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: arial;
}

#show_controls_button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#cesiumControls a {
    color: white;
}

form {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 8px;
}

.first_column {
    grid-column: 1 / 2;
    text-align: right;
    color: #03fdff;
    font-weight: bold;
}

.second_column {
    grid-column: 2 / 3;
    color: #d6ff00;
}

#slope_prime_alpha_slider, #slope_prime_radius_slider {
    height: 7px;
}